body {
    overflow: hidden;
    background-color: #E0F2F1;
}

img {
    width: 120px;
    border: 1px solid rgb(225.0, 242.0, 241.0);
}

li {
    font-size: 1.5rem;
    padding: 10px;
}

li:hover {
    cursor: pointer;
    color: rgb(225.0, 242.0, 241.0);
}

.about-content {
    display: none;
    padding: 20px;
}

.projects-content {
    display: none;
}

.education-content {
    display: none;
}

.contact-content {
    display: none;
}

.page {
    display: none;
}

.side-bar {
    height: 100vh;
}

.top-bar {
    display: none;
}

.hero-content {
    margin-top: 160px;
}

.hero-content h4 {
    padding: 12px;
    line-height: 50px;
}

.main-content {
    height: 100vh;
}

.nav {
    margin-top: 75px;
}

.progress {
    z-index: 10;
    display: block;
    height: 12px;
    top: 50%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.progress-container {
    height: 100vh;
}

@media(max-width: 900px) {
    .top-bar {
        display: block;
    }
    .side-bar {
        display: none;
    }
}



/* blur code

-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px); */